[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Adrian-team/gateway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Adrian-team/products-ms.git
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/Adrian-team/orders-ms.git
[submodule "payments-ms"]
	path = payments-ms
	url = https://github.com/Adrian-team/payments-ms.git
